<%- include('../layouts/admin-header') %>


<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
            <p>Add, edit or delete a category</p>
            
         
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form action="/admin/updateCategory/<%= data._id %> " method="post" enctype="multipart/form-data">
                        <div class="mb-4">
                            <label  class="form-label">Name</label>
                            <input type="text" placeholder="Name" class="form-control" name="name" value="<%= data.name %>" />
                        </div>
                     
                       
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <input placeholder="Description" name="description" class="form-control" style="height:100px;" value="<%= data.description %>"></input>
                        </div>

                        <div class="card-body">
                            <div class="input-upload">
                                <img src="/admin-assets/imgs/theme/upload.svg" style="height:3cm;" id="img1" alt="img">
                                <input class="form-control" name="image1" type="file" value="<%= data.image[0] %>"  onchange="function5(event)" >
                            </div>
                        </div>
                    </div>
                    <script>
                    function function5(event){
                        document.getElementById('img1').src=URL.createObjectURL(event.target.files[0] )
                     
                    }
                </script>
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit" >Update Category</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        
                        
                       
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section>

<%-include('../layouts/adminFooter')%>
